set_io clk_ 62
set_io dat 61
set_io clear 60
set_io inp0 142
set_io inp1 141
set_io inp2 139
set_io inp3 138
set_io inp4 116
set_io inp5 117
set_io inp6 118
set_io inp7 119
set_io inp8 38
set_io inp9 37
set_io inp10 34
set_io inp11 33
set_io inp12 75
set_io inp13 76
set_io inp14 78
set_io inp15 79
set_io inp16 18
set_io inp17 17
set_io inp18 16
set_io inp19 15
set_io inp20 95
set_io inp21 96
set_io inp22 97
set_io inp23 98
set_io inp24 125
set_io inp25 128
set_io inp26 129
set_io inp27 130
set_io inp28 3
set_io inp29 4
set_io inp30 7
set_io inp31 8
set_io inp32 84
set_io inp33 85
set_io inp34 87
set_io inp35 88
set_io inp36 44
set_io inp37 45
set_io inp38 47
set_io inp39 48
set_io inp40 105
set_io inp41 106
set_io inp42 107
set_io inp43 110
set_io inp44 26
set_io inp45 25
set_io inp46 24
set_io inp47 23
set_io out0 144
set_io out1 143
set_io out2 137
set_io out3 136
set_io out4 114
set_io out5 115
set_io out6 120
set_io out7 121
set_io out8 41
set_io out9 39
set_io out10 32
set_io out11 31
set_io out12 73
set_io out13 74
set_io out14 80
set_io out15 81
set_io out16 20
set_io out17 19
set_io out18 12
set_io out19 11
set_io out20 93
set_io out21 94
set_io out22 99
set_io out23 101
set_io out24 122
set_io out25 124
set_io out26 134
set_io out27 135
set_io out28 1
set_io out29 2
set_io out30 9
set_io out31 10
set_io out32 82
set_io out33 83
set_io out34 90
set_io out35 91
set_io out36 42
set_io out37 43
set_io out38 49
set_io out39 52
set_io out40 102
set_io out41 104
set_io out42 112
set_io out43 113
set_io out44 29
set_io out45 28
set_io out46 22
set_io out47 21
