set_io clk_ 62
set_io dat 61
set_io clear 60
set_io inp[0] 142
set_io inp[1] 141
set_io inp[2] 139
set_io inp[3] 138
set_io inp[4] 116
set_io inp[5] 117
set_io inp[6] 118
set_io inp[7] 119
set_io inp[8] 38
set_io inp[9] 37
set_io inp[10] 34
set_io inp[11] 33
set_io inp[12] 75
set_io inp[13] 76
set_io inp[14] 78
set_io inp[15] 79
set_io inp[16] 18
set_io inp[17] 17
set_io inp[18] 16
set_io inp[19] 15
set_io inp[20] 95
set_io inp[21] 96
set_io inp[22] 97
set_io inp[23] 98
set_io inp[24] 125
set_io inp[25] 128
set_io inp[26] 129
set_io inp[27] 130
set_io inp[28] 3
set_io inp[29] 4
set_io inp[30] 7
set_io inp[31] 8
set_io inp[32] 84
set_io inp[33] 85
set_io inp[34] 87
set_io inp[35] 88
set_io inp[36] 44
set_io inp[37] 45
set_io inp[38] 47
set_io inp[39] 48
set_io inp[40] 105
set_io inp[41] 106
set_io inp[42] 107
set_io inp[43] 110
set_io inp[44] 26
set_io inp[45] 25
set_io inp[46] 24
set_io inp[47] 23
set_io outp[0] 144
set_io outp[1] 143
set_io outp[2] 137
set_io outp[3] 136
set_io outp[4] 114
set_io outp[5] 115
set_io outp[6] 120
set_io outp[7] 121
set_io outp[8] 41
set_io outp[9] 39
set_io outp[10] 32
set_io outp[11] 31
set_io outp[12] 73
set_io outp[13] 74
set_io outp[14] 80
set_io outp[15] 81
set_io outp[16] 20
set_io outp[17] 19
set_io outp[18] 12
set_io outp[19] 11
set_io outp[20] 93
set_io outp[21] 94
set_io outp[22] 99
set_io outp[23] 101
set_io outp[24] 122
set_io outp[25] 124
set_io outp[26] 134
set_io outp[27] 135
set_io outp[28] 1
set_io outp[29] 2
set_io outp[30] 9
set_io outp[31] 10
set_io outp[32] 82
set_io outp[33] 83
set_io outp[34] 90
set_io outp[35] 91
set_io outp[36] 42
set_io outp[37] 43
set_io outp[38] 49
set_io outp[39] 52
set_io outp[40] 102
set_io outp[41] 104
set_io outp[42] 112
set_io outp[43] 113
set_io outp[44] 29
set_io outp[45] 28
set_io outp[46] 22
set_io outp[47] 21
